@import '../../colors.scss';

.aboutDiv{
    .aboutSection1 {
        min-height: 100vh;
        // background-color: $lightBlue;
        background-color: $darkBlue;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;

        @media only screen and (max-width: 600px) {
            padding: 50px;
        }


        h1 {
            font-size: 5em;
            // width: 40%;
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 20px;
            color: $green;

            @media only screen and (max-width: 600px) {
                font-size: 3em;
            }
        }
        p {
            width: 50%;
            margin: 0;
            color: white;

            @media only screen and (max-width: 1200px) {
                width: 100%;
                padding-bottom: 300px;
            }
        }

        img {
            position: absolute;
            right: 10%;
            height: 60%;
            border-radius: 50%;
            // border: 10px solid $green;

            @media only screen and (max-width: 1200px) {
                height: 30%;
                right: 0;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                bottom: 100px;
            }
        }
        .il{
            position: absolute;
            right: 0;
            height: 50px;
            width: 100px;
            background-color: $green;
            border-radius: 50px 0 0 50px;

            @media only screen and (max-width: 1200px) {
                bottom: 0;
                transform: rotate(90deg);
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
            }
        }
    }
    .aboutSection2{
        padding: 100px 300px;
        // margin: 100px 0;

        @media only screen and (max-width: 1200px) {
            padding: 75px;
            // margin: 100px 0;
          }
        @media only screen and (max-width: 600px) {
            padding: 50px;
            // margin: 100px 0;
          }

        p {
            margin-bottom: 50px;
        }
    }
    .aboutSection3 {
        min-height: 100vh;
        background-color: $lightBlue;
        padding: 100px;

        @media only screen and (max-width: 600px) {
            padding: 50px;
          }

        h2 {
            font-size: 3em;
            color: $darkBlue;
            margin: 10px 0;

            @media only screen and (max-width: 600px) {
                font-size: 2em;
              }
        }
        h3 {
            font-size: 1.5em;
            color: $darkBlue;

            @media only screen and (max-width: 600px) {
                font-size: 1.2em;
              }
        }

        .subheadingRow {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .bullet {
                height: 1em;
                width: 1em;
                background-color: $green;
                margin-right: 15px;
                border-radius: 50%;
            }
        }
        .studentGridDiv {
            // overflow: hidden;
            .studentRow {
                // width: 80%;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .wire {
                    height: 5px;
                    width: 70px;
                    background-color: $green;

                    @media only screen and (max-width: 600px) {
                        width: 30px;
                        height: 3px;
                      }
                }
            }
        }
    }

}
