@import '../../colors.scss';

.navbarDiv {
    height:50px;
    color: white;
    background-color:  #0B0E1C;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: .4s;
    z-index: 3;
    // position: relative;
    // overflow: hidden;

    @media only screen and (max-width: 1200px) {
        padding: 0;
    }


    .leftDiv{
        height: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .hamburger {
            color: white;
            width: 100px;
            @media only screen and (min-width: 1200px) {
                display: none;
            }
            @media only screen and (max-width: 600px) {
                width: 50px;
            }
        }
        a {
            height: 100%;
            .logo {
                // background-color: red;
                height: 100%;
            }
        }
    }

    .rightDiv {
        display: flex;
        flex-direction: row;

        @media only screen and (max-width: 1200px) {
            display: none;
        }

        a {
            margin-left: 50px;
            font-size: small;
            transition: .4s;
            color: white;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                color: $green;
            }
        }
        
        .dropdown{
            display: flex;
            flex-direction: column;
            // background-color: red; 
        }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 3;
            // top: -10px

            a {
                float: none;
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                background-color: #0B0E1C;
                position: relative;
                transition: 0.4s;
                left: 0px;
            }
        }

        .dropdown-content a:hover {
            // background-color: #021611;
            // border: 1px solid $green;
            // left: 10px;
            color: $green;
          }
          
          /* Show the dropdown menu on hover */
          .dropdown:hover .dropdown-content {
            display: block;
          }
    }
    .sidebar {
        height: 100vh;
        min-width: 300px;
        background-color: #0B0E1C;
        position: absolute;
        top: 0;
        transition: all 0.4s;
        left: 0;

        .closeDiv {
            width: 100px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            transition: all .4s;

            @media only screen and (max-width: 600px) {
                width: 50px;
            }

            .closeIcon {
                // width: 50px;
                height: 50px;
                margin: auto;
            }
        }
        .closeDiv.top{
            height: 70px;   
        }
        .itemsList {
            display: flex;
            flex-direction: column;
            padding: 50px;
            align-items: flex-start;

            a {
                color: white;
                text-decoration: none;
                margin-bottom: 25px;
                font-size: large;
            }
        }
    }
    .sidebar.close {
        left: -300px;
    }
}
.top{
    height: 70px;
}
.transparent {
    background-color: transparent;
}