@import '../../colors.scss';

.organisation {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;

  .organisation-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $darkBlue;
    height: auto;


    .org-name {
        color: $green;
        font-size: 7rem;
        font-weight: bold;
        margin: 0;
        text-decoration: none;
        padding-top: 150px;
        padding-left: 150px;

        a {
            color: $green;
            text-decoration: none;
        }

        // &:hover a {
        //     color: $green;
        //     transition: all 1s ease-in-out;
        //     text-decoration: underline;
        // }

    }

    .description {
        width: 400px;
        font-size: 1.25rem;
        word-spacing: normal;
        letter-spacing: normal;
        text-align: left;
        color: $lightBlue;
        margin-bottom: 50px;
        line-height: 1.5;
        padding-top: 20px;
        padding-left: 160px;
        padding-bottom: 150px;
      }

    .org-image {
        width: 20%;
        height: 20%;
        padding: 20px;
    }

  }

  .organisation-projects {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;

    .org-project-card {
      display: flex;
      align-items: center;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      margin-bottom: 20px;
      padding: 20px;
      width: 200px;

      

      .project-info {
        flex-grow: 1;

        h3 {
          font-size: 1.5rem;
          color: #333;
          margin-bottom: 5px;
        }

        p {
          font-size: 1rem;
          color: #666;
          margin-bottom: 5px;
        }

      }
    
    }
  }
  .organisation-content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    // align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;

    .link-head {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
        font-style: italic;
    }

    .org-link {
      font-size: 1rem;
      color: #007bff; // Or use a variable from your colors.scss
      text-decoration: none;
      list-style: none;
      margin-right: 10px;

      &::before {
        content: '•'; // Adds a bullet before the link
        color: $green; // Color for bullet
        font-size: 40px; // Size of the bullet
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }

  .hero-header {
    
    // font-family: 'Open Sans', sans-serif;
    font-size: 3.75rem; 
    color: $darkBlue;
    padding-left: 320px; 
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      left: 320px;
      bottom: -10px; 
      height: 1px; 
      width: 50%; 
      opacity: 0.5;
      background-color: $gray; 
    }
  }

  .organisation-hero {
   
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    // padding-top: 0;
    background-color: $lightBlue;
    // width: 50%;

    
    
    @media only screen and (max-width: 768px) {
      .organisation-participants {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
      }
    
      .hero-header {
        font-size: 2rem; // Adjust font size for smaller screens
      }
    }

    .il2 {
        // position: relative;
        // left: 0; 
        // left: 25%;
        // top: 100px;
        margin: 0;
        // margin-left: auto; 
        // margin-right: auto; 
        height: 80%; 
        // z-index:0;
        box-sizing: border-box;

        @media only screen and (max-width: 1000px) {
            display: none;
        }
    
    }

    .organisation-participants {
      display: flex;
      gap: 10px;
      justify-content: space-around; // This will space out your items evenly
      flex-wrap: wrap;
      width: 63.33%;
      
      .person-card {
        // position: relative;
        left: 50%;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 20px;
        width: 250px;
        height: fit-content;
  
        .person-info {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // margin: auto;
          gap: 5px;
  
          a {
            color: $gray;
          }


          img {
            width: 100px;
            height: 100px;
          }
  
          h3 {
            font-size: 1.5rem;
            color: #333;
            margin-bottom: 5px;
          }
  
          .project-name {
            font-size: 1rem;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            flex-wrap: nowrap;
            text-wrap: nowrap;

            &:hover {
              color: $purple;
            }
          }

          .social-links {
            font-size: 2rem;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
  
            a {
              padding: auto;
              // margin-right: 15px;
              padding: 5px;
              color: inherit;
  
              &:hover {
                color: $purple;
              }
            }
          }
        }
      }
    }


    
  }

  // for tablet
  @media only screen and (max-width: 1024px) {
    .organisation-header {
      flex-direction: column;
      align-items: flex-start;
      padding: 50px;

      .org-name {
        font-size: 5rem;
        padding-top: 0;
        padding-left: 0;
      }

      .description {
        width: 100%;
        padding-left: 0;
        text-align: center;
      }

      .org-image {
        width: 50%;
        height: auto;
        padding: 0;
      }
    }

    .hero-header {
      font-size: 2.5rem;
      padding-left: 0;
      &::after {
        left: 0;
        width: 80%;
      }
    }

    .organisation-hero {
      padding: 50px;
    }
  }

  // for mobile 
  @media only screen and (max-width: 768px) {
    .organisation-header {
      padding: 10px;
      .org-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3.5rem;
        padding-top: 150px;
        
      }

      .description {
        font-size: 1rem;
        padding-bottom: 0;
      }

      .org-image {
        width: 70%;
        height: 70%;
        margin: auto;
        padding: 20px;
    }

    }

    .hero-header {
      font-size: 2.4rem; 
      padding: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::after {
        display: none;
        width: 90%; 
      }
    }

    .organisation-hero {
      padding: 0;
      display: flex;
      align-items: center;
      .organisation-participants {
        display: flex;  
        width: fit-content;
      }
    }

    .organisation-projects {
      .org-project-card {
        width: 100%;
      }
    }
  }

}
