@import '../../colors.scss';

.facultyCardsDiv {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr) );
    margin-bottom: 50px;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }
    .facultyCardDiv {
        min-height: 100px;
        background-color: white;
        border-radius: 8px;
        padding: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        // cursor: pointer;
    
        &:hover {
            img {
                border: 3px solid $green;
            }
        }
    
        @media only screen and (max-width: 600px) {
            flex-direction: row;
            padding: 20px;
          }
    
        img {
            width: 80%;
            border-radius: 50%;
            border: 3px solid transparent;
            transition: all 0.4s;
            @media only screen and (max-width: 600px) {
                width: 80px;
              }
        }
        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media only screen and (max-width: 600px) {
                align-items: flex-start;
                margin-left: 30px;
              }
        }
        h4 {
            font-size: 1.2em;
            font-weight: 600;
            margin-bottom: 10px;
            margin-top: 20px;
            text-align: center;
    
            @media only screen and (max-width: 600px) {
                margin-top: 0;
                text-align: left;
                font-size: 1em;
              }
        }
        p {
            margin: 0;
            text-align: center;
            margin-bottom: 5px;

            @media only screen and (max-width: 600px) {
                text-align: left;
              }
        }
        p.cardTitle {
            opacity: .6;
            font-weight: 500;
        }
        p.cardOrg {
            font-weight: 600;
        }
        .iconsRow {
            display: flex;
            flex-direction: row;
        }
        svg {
            color: $darkBlue;
            margin: 5px;
            margin-bottom: 0;

            @media only screen and (max-width: 600px) {
                margin-left: 0;
                margin-right: 10px;
              }
        }
    }