@import '../../colors.scss';

.eventsDiv {
    .eventsSection1 {
        min-height: 70vh;
        background-color: $darkBlue;
        padding: 100px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        overflow: hidden;

        @media only screen and (max-width: 600px) {
            padding: 50px;
        }

        h1 {
            color: $green;
            font-size: 5em;
            font-weight: 500;

            @media only screen and (min-width: 1300px) {
                font-size: 6em;
            }
            @media only screen and (max-width: 600px) {
                font-size: 4em;
                margin-bottom: 250px;
            }
        }

        .il1 {
            position: absolute;
            height: 150%;
            right: 100px;

            @media only screen and (max-width: 1800px) {
                // top: 0px;
                left: 450px;
                // width: 200%;
            }
            @media only screen and (max-width: 1400px) {
                // top: 0px;
                left: 450px;
                // width: 200%;
            }
            @media only screen and (max-width: 600px) {
                top: 00px;
                left: 50px;
                width: 200%;
            }
        }
    }
    .eventsSection2 {
        min-height: 60vh;
        background-color: $lightBlue;
        padding: 100px;
        padding-top: 0;
        box-sizing: border-box;
        overflow: hidden;

        @media only screen and (max-width: 600px) {
            padding: 50px;
        }

        .eventsSection2Container {
            max-width: 1300px;
            margin: auto;
        }

        h1 {
            font-size: 2.4em;
            padding-top: 100px;
            padding-bottom: 30px;
            margin: 0;

            @media only screen and (max-width: 600px) {
                font-size: 1.8em;
            }
        }

        .eventCardsDiv {
            width: 100%;
            display: grid;
            column-gap: 20px;
            row-gap: 20px;
            grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr) );

            @media only screen and (max-width: 600px) {
                grid-template-columns: 1fr;
              }
        }
    }
}