@import '../../colors.scss';

.projectCardsDiv {
    width: 100%;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr) );
    align-items: start;

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.projectCardDiv {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 8px;
    overflow: visible;
    padding: 10px 20px;
    transition: all .4s;
    color: black;

    &:hover {
        cursor: pointer;
        background-color: $lightBlue;
    }

    h3 {
        font-size: small;
    }
    #projectCardDesc {
        font-size:small;
        margin-left: 0;
        margin-right: 0;
    }
    #readMore {
        color: $purple;
        font-weight: 600;
        font-size: small;
        margin-left: 0;
        margin-right: 0;
    }
}